<html>
<head>
    <meta name="robots" content="index, nofollow">
    <meta name="Description" content="Mergez.io! Ball IO game like Agar.io. Alternative Agario game. Created by xAz Edited by Alvariithoo & Mrozio">
    <title>Mergez.eu - Ultrasplit</title>
    <link id="favicon" rel="icon" type="image/png" href="./img/icon.png">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="./path/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fonticons.com/902e63d5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4656002964152261" crossorigin="anonymous"></script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</head>
<body>
    <noscript>Please enable JavaScript in your browser for game to work!</noscript>
    <div id="overlays">
        <div class="ver-align opac0"><h2 class="loader-text">Welcome to Mergez.io</h2></div>
        <div id="container" class="opac0 hided">
            <div id="helloContainer">
                <div id="left-container" class="side-container left-side">
                    <div class="UI-panel UI-side-panel UI-profiles">
                        <ul class="nav nav-tabs">
                            <button class="btn btn-danger btn-success" onclick="window.location=`<%= user && user.data ? '/logout' : '/login' %>`" id="login"><%= user && user.data ? 'LOGOUT' : 'LOGIN' %></button>
                        </ul>
                        <div class="profiles-panel">
                            <div id="profile-bg" class="UIProfiles"></div>
                            <div id="profile-bg2" class="UIProfiles"></div>
                            <div id="profile-bg3" class="UIProfiles"></div>
                            <div id="profile-bg4" class="UIProfiles"></div>
                            <div id="profile-bg5" class="UIProfiles"></div>
                        </div>
                        <button class="btn btn-danger btn-success" id="hats">HATS SOON!</button>
                    </div>
                </div>
                <div id="mainPanel">
                    <center class="nav-center">
                        <div href="home" class="icon-container"><i class="material-icons">home</i></div>
                        <div href="settings" class="icon-container"><i class="material-icons">settings</i></div>
                        <div href="sliders" class="icon-container"><i class="material-icons">linear_scale</i></div>
                        <div id="KeySettins" class="icon-botton"><i class="material-icons">keyboard</i></div>
                    </center>
                    <div class="tab active" href="home" id="home">
                        <div id="profile-main">
                            <div id="profile-pic" class="picker-container clearfix">
                                <div class="nav2 arrow-left"></div>
                                <div id="preview-img-area"><img id="preview-img" onerror="DefaultSkin();"></div>
                                <div class="nav2 arrow-right"></div>
                            </div>
                        </div>
                        <div id="profile-container">
                            <div id="teamNameContainer" class="input-group">
                                <input type="text" id="team_name" class="form-control" placeholder="Team" spellcheck="false" maxlength="10">
                            </div>
                            <div id="nickContainer">
                                <input id="nick" type="text" class="form-control" placeholder="Nickname" spellcheck="false" maxlength="15">
                            </div>
                            <input type="text" id="skin_url" class="form-control" spellcheck="false" placeholder="Skin URL ( Imgur Link )">
                        </div>
                        <button id="main-play" class="btn btn-play btn-success"><i id="icon" class="material-icons">play_arrow</i></button>
                        <button class="btn btn-warning btn-spectate"><i id="icon" class="material-icons">visibility</i></button>
                    </div>
                    <div class="tab" href="settings" id="settings">
                        <div id="radio-container">
                        </div>
                        <div class="container">
                            <div class="settingsRow">
                                <div class="col-xs-6 firstSettings"></div>
                                <div class="col-xs-6 secondSettings"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" href="sliders" id="sliders">
                        <hr id="server-hr">
                        <div class="toggles">
                            <div>
                                <p class="picker-text">Cell Text Position</p>
                                <select class="select-theming" onchange="config.TextPost=($(this).val()).toLowerCase()">
                                    <option disabled>Cell Text Position</option>
                                    <option>Top</option>
                                    <option selected="selected">Middle</option>
                                    <option>Bottom</option>
                                </select>
                            </div>
                            <hr id="server-hr">
                            <div class="range-container">
                                <div id="AnimationDelay"></div>
                                <div id="HatsCell"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" href="keybinds" id="keybinds">yes yes yes yess!</div>
                </div>
                <div class="side-container right-side">
                    <div class="side-container right-side">
                        <div class="UI-panel UI-side-panel UI-profiles">
                            <ul class="nav nav-tabs">
                                <li class="active" id="spl">
                                    <div id="userInfo">
                                        <p><i class="fas fa-user"></i> Guest<a class="randomID"></a>
                                            <script type="text/javascript">document.querySelector('.randomID').innerText = btoa(Math.random()).substring(0, 7)</script>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div id="server-container" class="servers-panel">
                                <div id="server" onclick="connect('ws://49.12.231.126:7251');">
                                    <label id="server-label">Ultrasplit</label>
                                    <label id="number-label">1</label>
                                </div>
                                <div id="server" onclick="connect('ws://49.12.231.126:8251');">
                                    <label id="server-label">Ultrafeed</label>
                                    <label id="number-label">2</label>
                                </div>
                                <div id="server" onclick="connect('ws://127.0.0.1:7251');">
                                    <label id="server-label">Server Closed</label>
                                    <label id="number-label">3</label>
                                </div>
                                <div id="server" onclick="connect('ws://127.0.0.1:7251');">
                                    <label id="server-label">Server Closed</label>
                                    <label id="number-label">4</label>
                                </div>
                                <div id="server" onclick="connect('ws://127.0.0.1:7251');">
                                    <label id="server-label">Server Closed</label>
                                    <label id="number-label">5</label>
                                </div>
                                <div id="server" onclick="connect('ws://127.0.0.1:7251');">
                                    <label id="server-label">Server Closed</label>
                                    <label id="number-label">6</label>
                                </div>
                                <div id="server" onclick="connect('ws://localhost:7251');">
                                    <label id="server-label">Tests</label>
                                    <label id="number-label">7</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="KeysPanel">
                <div id="background" class="general-box-shadow">
                    <div id="uiBody">
                        <div id="uiModal">
                            <div id="KeysClose"><i class="material-icons">close</i></div>
                            <div id="KeysTitle">Heybinds panel</div>
                            <hr>
                            <div id="KeysContainer" style="height: 33px;">
                                <div id="Keys-Container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <n2></n2>
            </div>
            <div class="social-buttons" style="display: block;">
                <a href="https://www.youtube.com/channel/UCou7b7bODwiDEJwVqSiDxeA?sub_confirmation=1" target="_blank" class="social-button google" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube"><i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="overlays2">
        <div id="div_lb">
            <div class="header">Mergez.io</div>
            <div id="lb_detail"></div>
        </div>
        <div id="div_score"></div>
        <div id="chatboxArea2">
            <input id="input_box2" type="text" maxlength="64">
        </div>
        <input style="display: none;" id="pingInput">
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="./path/js/core0.js"></script>
    <script type="text/javascript" src="./path/js/extras.js"></script>

    <script type="text/javascript">
        console.log('https://github.com/Alvariithoo/UI-Client');
        // Auto Connect
        window.onload = () => {
            connect('ws://49.12.231.126:7251')
        }
    </script>
    <% if (user.data) { %><script type="text/javascript">document.getElementById('userInfo').innerHTML = `<p style="margin-left:5px;"><img id="avatar" alt src="<%= user && user.data && user.data.avatar || null %>"><%= user.data.username || "NOT FOUND" %><a class="randomID">#<%= user.data.discriminator || "NOT FOUND"%></a></p>`</script><% } %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1725936073416590" crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-f9+5v+4m-d8+7b" data-ad-client="ca-pub-1725936073416590" data-ad-slot="5857462848"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</body>
</html>
